%h2 Welcome to Accitude
%br
You are using version: 0.7.0 Beta released on 29 March 2010
%br
%br
Welcome to Accitude alpha release. If you have a login on this system please feel free to browse around and try out the features etc. It has lots of room for improvement, but thats to be expected in this release - the next one will be more complete.
%br
%br
Please send any comments or questions to ben@ebotech.com
