%h2 Your Previous Quotes:
%br/
- outp = []
- quotes.each do |q|
  - if q.project
    - @project = q.project.name
  - else
    - @project = ""
  - outp << [ |
    link_to_remote(q.contact.name_long, :url => {:action => :view, :id => q.id, :controller => :quotes}), |
    @project, |
    format_as_currency(q.total_value), |
    q.produced_on.inspect |
  ] |
- outp << [do_pag(quotes), "", ""]
- if quotes.size == 0
  Sorry, no results.
- else
  = gen_list outp, :head => ['Client', 'Project','Value', 'Produced On'], :size => 4
