%h2 Listing expenses for #{employee.name}
[
= link_to_remote :Back, :url => {:action => :view, :controller => :employees, :id => employee.id}
\-
= link_to_remote('Add', :url => {:action => :ex_new, :id => employee.id, :controller => :employees})
]
%br
- list = []
- expenses = employee.expenses.paginate :page => (params[:page] || '1')
- expenses.each do |e|
  - if e.paid_on?
    - @pup = "Paid"
  - else
    - @pup = "Unpaid"
  - list << [link_to_remote(e.claimed_on.inspect, :url => {:action => :ex_view, :id => employee.id, :exp => e.id}), format_as_currency(e.get_total), @pup]
- list << [do_pag(expenses, :id => employee.id), "", ""]
- if expenses.size == 0
  Sorry, no results.
- else
  = gen_list list
