%h2 Employees List
- outp = []
- employees.each do |e|
  - @unpaid = []
  - wages = []
  - e.expenses.each do |ex| 
    - if !ex.paid_on?
      - @unpaid << ex.get_total
  - e.wage_payments.each do |wp|
    - unless wp.paid_on?
      - wages << wp.total
  - outp << [link_to_remote(e.name, :url => {:action => :view, :id => e.id, :controller => :employees}), |
  number_to_currency(wages.sum, :unit => "£"), | 
  number_to_currency(@unpaid.sum, :unit => "£"), |
  link_to_remote("List", :url => {:action => :ex_index, :id => e.id, :controller => :employees}), |
  link_to_remote("New", :url => {:action => :ex_new, :controller => :employees, :id => e.id})] |
- outp << [do_pag(employees)]
- if employees.size == 0
  Sorry, no results.
- else
  = gen_list outp, :size => 5, :head => ['Name', 'Unpaid Wages','Unpaid Expenses', 'Expenses', '']
