%h2 Employees List
- outp = []
- employees.each do |e|
  - outp << [link_to_remote(e.name, :url => {:action => :view, :id => e.id, :controller => :employees})]
- outp += do_pag(employees)
- if employees.size == 0
  Sorry, no results.
- else
  = gen_list outp, :size => 1, :head => ['Name']
