%h2 Wage Payments
%br

- pending = []
- set = []

- payments.each do |p|
  -if p.set_up = true
    - pending << p
  - else
    - set << p
- outp = []
- unless pending.count == 0
  %h3 To be set up
  - pending.each do |p|
    - due = (p.created_at - (p.created_at.day - 1).days)
    - due = due.to_s[0..9]
    - outp << [link_to_remote(p.employee.name, :url => {:action => :payment_edit, :controller => :employees, :id => p.id}), due, number_to_currency(p.total, :unit => "£")]
  = gen_list outp, :head => ['Payment for:', 'Produced', 'Gross pay']
- unless set.count == 0
  %h3 Unpaid Wages
  - set.each do |p|
    - due = (p.created_at - (p.created_at.day - 1).days)
    - due = due.to_s[0..9]
    - if p.paid_on
      - outp << [link_to_remote(p.employee.name, :url => {:action => :payment_edit, :controller => :employees, :id => p.id}), due, number_to_currency(p.total, :unit => "£"), number_to_currency(p.for_employee, :unit => "£") ]
  = gen_list outp, :head => ['Payment for:', 'Produced', 'Gross pay', 'Net Pay']    
