%h2 Wages Summary
- outp = []
- employees.each do |e|
  - outp << [link_to_remote(e.name, :url => {:action => :wage_view, :controller => :employees, :id => e.id})] 
= gen_list outp, :size => 1, :head => ['Employee']

%br
%h2 Wage Payments
%br

