%h1 Edit wages for #{employee.name}
%br
= link_to_remote('Back', :url => {:action => :wage_view, :controller => :employees, :id => employee.id})
- outp = []
- form_remote_for @wage, :url => {:controller => :employees, :action => :wage_edit} do |f|
  - outp << ['Hourly rate:', f.text_field(:hourly_rate)]
  - outp << ['Weekly hours:', f.text_field(:weekly_hours)]
  - outp << ['This months deductions:', f.text_field(:other_deduction)]
  - outp << [submit_tag('update'), '']
  = gen_list outp


