%h2 Wages Summary
- outp = []
- employees.each do |e|
  - @wage = e.wages.find :first
  - if @wage.weekly_hours && @wage.hourly_rate
    - @monthly = (@wage.weekly_hours * @wage.hourly_rate * 4)
  - else
    -@monthly = "not set"
  - outp << [link_to_remote(e.name, :url => {:action => :wage_view, :id => e.id, :controller => :employees}), @monthly]

= gen_list outp, :size => 4, :head => ['Employee', 'Gross monthly wage', 'Wages due', 'Days until next payment']

%h3 Unpaid Wages
