%h2 Your Previous Liabilities
%br
- outp = []
- liabilities.each do |i|
  - outp << [link_to_remote(i.contact.name_long, :url => {:action => :view, :id => i.id}), i.incurred_on.inspect]
- outp += do_pag(liabilities)
= gen_list outp, {:head => ['Supplier', 'Incurred On']}
- if liabilities.size == 0
  Sorry, no results.
