%h2 Your Previous Invoices
%br
=form_remote_tag :url => {:action => :index, :controller => :invoices} do
  = select_tag(:filter, options_for_select([["All", "All"], ["Processed", "Processed"], ["Unprocessed", "Unprocessed"]]))
  = submit_tag('Filter')
  - outp = []
  - invoices.each do |i|
    - outp << [link_to_remote(i.contact.name_long, :url => {:action => :view, :id => i.id}), |
    i.produced_on.inspect] |
  - outp += do_pag(invoices)
  = gen_list outp, :head => ['Client', 'Produced On'], :size => 2
  - if invoices.size == 0
    Sorry, no results.
