%h2 Your Previous Invoices
%br
- outp = []

=form_remote_tag :url => {:action => :index, :controller => :invoices} do
  = select_tag(:filter, options_for_select([["All"], ["Processed"], ["Unprocessed"], ["Before"], ["After"]]))
  = calendar_date_select_tag(:date)
  = submit_tag('Filter')
- invoices.each do |i|
  - outp << [link_to_remote(i.contact.name_long, :url => {:action => :view, :id => i.id}), |
  i.produced_on.inspect] |
- outp += do_pag(invoices)
- if invoices.size == 0
  Sorry, no results.
- else
  = gen_list outp, :head => ['Client', 'Produced On'], :size => 2
