%h2 Your Previous Invoices
%br


- form_remote_tag :url => {:action => :index, :controller => :invoices} do
  - outp = []
  - outp << ['Client', select_tag(:contact, "<option value=-1>All</option>" + options_from_collection_for_select(contacts, 'id', 'name_long', contact.to_i))]
  - outp << ['From', calendar_date_select_tag(:after, after, :popup => :force, :onChange => "$('before').value = this.value")]
  - outp << ['Until', calendar_date_select_tag(:before, before, :popup => :force, :valid_date_check => "date > new Date($F('after')).stripTime()")]
  - outp << ['Type', select_tag(:procstate, options_for_select([["All"], ["Paid"], ["Unpaid"]], procstate))]
  - outp << [submit_tag('Filter'), '']
  = gen_list outp, :size => 2

%br

- outp = []
- invoices.each do |i|
  - outp << [link_to_remote(i.contact.name_long, :url => {:action => :view, :id => i.id}), |
    format_as_currency(i.total_value), |
    i.been_paid?.to_s, |
    i.produced_on.inspect] |
- outp << [do_pag(invoices), "", "", ""]
- if invoices.size == 0
  Sorry, no results.
- else
  = gen_list outp, :head => ['Client', 'Value', 'Paid?', 'Produced On'], :size => 4
