%h2 Processing all of the payment plans outstanding
%br
- plans.each do |p|
  - outp = []
  - p.process_plan.each do |i|
    - outp << ["Date: #{i.produced_on.inspect}", link_to('Get PDF', :action => :view, :id => i.id, :format => :pdf), "For: #{p.contact.name_long}", "Total: #{format_as_currency(p.get_total)}" ]
  = gen_list outp, :size => 4
  .clear &nbsp;

