%h2 Your bank accounts
%br
- outp = []
- accounts.each do |a|
  - outp << [(link_to_remote(a.name, :url => {:action => :view, :id => a.id})).html_safe!, "#{a.account} - #{a.sortcode}"]
- outp += do_pag(accounts)
- if accounts.size == 0
  Sorry, no results.
- else
  = gen_list outp, {:head => ['Bank', 'Account # - Sortcode'], :size => 2}
