* { margin:0px; padding:0px; }
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	color: #1A1A1A;
}
p { margin:0px 0.5em; margin-bottom: 1em; }


form label { float:left; text-align:left; margin-bottom:7px;}
form input, form select { float:left; margin-left: 10px; }
form label input {float: right;}
form br { clear: left; }

#ly_w {
	/*
	width: 90%;
	margin: 10px auto;
	*/
}

#ly_h { overflow: hidden; background:#548AA7; height: 90px; border-bottom: 4px solid #2E4A5A; }
#ly_userbox {
	list-style: none;
	float: right;
	margin: 10px;
	margin-right:30px;;
}
#logo { float: left; margin: 10px; }


#ly_b { overflow: hidden; }




#ly_b #mnu_nav {
	list-style:none;
	float:left;
	width:160px;
	border-left: 1px solid #BCBCBC;
	margin-left:20px;
}
#ly_b #mnu_nav #nav_marker {
	position: absolute;
	top: 19em;
	left: .4em;
	height:23px;
	width:12px;
	background: url(nav_marker.png) no-repeat;
	
}
#ly_b #mnu_nav li { margin-left:10px; }
#ly_b #mnu_nav .section {
	margin-top: 1.5em;
	margin-bottom:5px;
	font-weight:bold;
	padding-left: 1em;
	border-bottom: 1px solid #CCC;
}
#ly_b #mnu_nav .first { margin-top:40px; }
#ly_b #mnu_nav a {
  margin-left: 3px;
	display: block;
	padding: 5px;
	text-decoration:none;
}
#ly_b #mnu_nav a:hover {
  border-left: 3px solid #F90;
  margin-left: 0px;
}





#ly_b #mnu_tools { list-style:none; margin-left: 5px; overflow:hidden; }
#ly_b #mnu_tools li { float:left; }
#ly_b #mnu_tools a {
	display: block;
	width:30px; height:30px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #fff;
}
#ly_b #mnu_tools a:hover { text-decoration:none; border: 1px solid #999; background-color: #D5ECC4; }

#ly_b #mnu_tools .add { background: url(add.png) no-repeat center center; }
#ly_b #mnu_tools .tool2 { background: url(add.png) no-repeat center center; }
#ly_b #mnu_tools .tool3 { background: url(add.png) no-repeat center center; }

#ly_b #cont{ margin-left: 240px; margin-top: 20px; margin-right:30px; }


.panel { margin:15px auto; width:90%; }
/*.panel .title { border-bottom: 1px solid #CCC; display: block; padding-left: 1em; font-weight:bold; }*/
.panel { border: 1px solid #BCBCBC; }
.panel .title {
	display: block;
	border-bottom: 1px solid #BCBCBC;
	background: #EBF5FA;
	padding: 5px;
}
#notice_div_id {
  border: 1px solid #5CCF60;
  margin: 15px;
  padding: 10px;
  background: #C5EDC6;
  font-weight: bold;
  margin-left: 0px;
  width: 620px;
}
#error_div_id {
  border: 1px solid #CB5858;
  margin: 15px;
  padding: 10px;
  background: #EDC5C5;
  font-weight: bold;
  margin-left: 0px;
  width: 620px;
}
.odd { background: #FDFAE8; }
.list_main {
  overflow: hidden;
  position: relative;
  width: 650px;
  margin-top: 20px;
}
.list_main select {
  width: 180px;
}
.list_main_sublist {
  margin-top: 0px;
  position: inline;
}
.items_main {
  width: 650px;
}
#item_new {
  vertical-align: top;
}
.clear {
  position: relative;
  float: left;
  clear: both;
}
.list_colour1 {
  background-color: #e7e7e7;
}
.list_colour2 {
  background-color: #ffffff;
}
.list_colour3 {
  background-color: #f6f6f6;
}
#dymenu {
  background-color: #749Ab7;
  margin-left: 235px;
  clear: both;
  height: 30px;
  padding-top: 5px;
  float: left;
  width: 650px;
  overflow: hidden;
}
#dymenu a {
  color: #000000;
}
.dymenuitem {
  float: left;
  margin-left: 20px;
}
A { color: black; }
#logo {
  margin-top: 30px;
}
