%style{:type => 'text/css'}
  :plain
    .item_main {
      overflow: hidden;
    }
    .item_wrap {
      position: relative;
      float: left;
      clear: both;
      width: 550px;
    }
    .item_wrap1 {
      position: relative;
      float: left;
      width: 390px;
      text-align: left;
    }
    .item_wrap2 {
      position: relative;
      float: left;
      width: 75px;
      text-align: right;
    }
    .item_wrap3 {
      position: relative;
      float: left;
      width: 80px;
      text-align: right;
    }

- ids = []
- outp = []
- items.each do |i|
  - ids.push i.id
  - outp << [i.desc, format_as_currency(i.value), i.quantity]
%br
%br
- if local_assigns[:title]
  %h4= title
#items_main
  = gen_list outp, :head => (local_assigns[:head] ? head : ['Description', 'Value', 'Quantity'])
  - if local_assigns[:allow_new]
    = render :partial => 'widgets/item_new', :locals => {:item_ids => JSON.generate(ids), :colour_id => 1}
