- type = obj.class.to_s.downcase.pluralize
- u = {:action => :view, :id => obj.id, :controller => type}
- u.merge! url if defined? url
- form_remote_for obj, :url => u do |f|
  = calendar_date_select_tag(:paid_on, nil, :popup => :force, :valid_date_check => "date > new Date('#{(date - 1.day).to_s.gsub("-", "/")}').stripTime()")
  = f.submit "Pay"
