%h2 #{contact.id ? "Editing #{contact.name}..." : "Creating a new contact..."}
[
= link_to_remote(:Back, :url => {:action => (contact.id ? :view : :index), :id => contact.id, :controller => :contacts})
]
- form_remote_for contact, :url => {:action => (contact.id ? :edit : :new), :controller => :contacts} do |f|
  = gen_list [ |
    ['Name', f.text_field(:name)], |
    ['Company', f.text_field(:company)], |
    ['Street', f.text_field(:street)], |
    ['Address', f.text_area(:address, :size => '25x6')], |
    ['Postcode', f.text_field(:postcode)], |
    ['Phone', f.text_field(:phone)], |
    ['Phone 2', f.text_field(:phone2)], |
    ['Fax', f.text_field(:fax)], |
    ['Email', f.text_field(:email)], |
    ['Website', f.text_field(:website)], |
    [submit_tag(contact.id ? 'Update' : 'Add'), ''] |
  ] |


