%h2 Breakdown By Employee
%br
%h3 Employees
- outp = []
- employees.keys.each do |k|
  - outp << ["<span style='font-weight:bold;'>#{k}</span>".html_safe!, ""]
  - employees[k].each do |l|
    - outp << [l[0], format_as_currency(l[1])]
  - outp << ["", ""]
= gen_list outp, :size => 2
%br

