%h2 Available Reports
%br
%ul
  %li= link_to_remote("View Unpaid", :url => {:controller => :reports, :action => :unpaids}) # in/out/unpaids
  %li= link_to_remote("Overview", :url => {:controller => :reports, :action => :overview})
  - #%li= link_to_remote("Employees", :url => {:controller => :reports, :action => :employees}) # breakdown per employee of wages and expenses
  %li= link_to_remote("By Contact", :url => {:controller => :reports, :action => :contacts}) # breakdown per client
